 @font-face {
     font-family:Montserrat;  
     src: url('font/Montserrat-Regular.woff2'),
         url('font/Montserrat-Regular.woff'); 
     font-style: normal;
     font-weight: 400;
 }

 @font-face {
     font-family:Montserrat;  
     src: url('font/Montserrat-Bold.woff2'),
         url('font/Montserrat-Bold.woff'); 
     font-style: normal;
     font-weight: 700;
 }
 @font-face {
     font-family:RobotoSlab;  
     src: url('font/RobotoSlab-Regular.woff2'),
         url('font/RobotoSlab-Regular.woff'); 
     font-style: normal;
     font-weight: 400;
 }
 @font-face {
     font-family:RobotoSlab;  
     src: url('font/RobotoSlab-Bold.woff2'),
         url('font/RobotoSlab-Bold.woff'); 
     font-style: normal;
     font-weight: 700; 
 }
 *{
   box-sizing:border-box;
 }
 ul{
   list-style: none;
   padding: 0; 
   margin: 0;
}
 a{
   text-decoration: none;
}
 body{
	font-family: RobotoSlab, serif;
	color: #555555; 
	font-weight: 400;
	padding: 0; 
    margin: 0;
}
 body.lock {
  overflow: hidden;
}
/*header==========*/
.header{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: #000;
	z-index: 1000;
	padding: 10px 0;
}
.wrapper{
	width: 100%;
	max-width: 1140px;
	padding:0 15px;
	margin: 0 auto;			
}
.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo{
	font-family: Montserrat;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    color: #ffffff;
    transition: color .3s
}
.header__logo.active{
	color: #c0301c;
}
.menu__link{
	font-family: Montserrat;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
	margin-right: 40px;
	transition: color .3s;
}
.menu__link:last-child{
    margin: 0;
}
.menu__link:hover{
	color: #c0301c;
}
/*burger===========*/
.burger{
	display: none;
	position: relative;
	width: 30px;
	padding: 15px 0;
	cursor: pointer;
}
.burger__span{
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	background: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition:background .3s;
}
.burger__span:before,
.burger__span:after{
    content: '';
    position: absolute;
	width: 100%;
	height: 3px;
	background: #fff;
	transition:transform .3s; 
	right: 0;
}
.burger__span:before{
	top:-10px;
}
.burger__span:after{
	bottom:-10px;
}
.burger.active .burger__span{
	background: none;
	transition: none
}
.burger.active .burger__span:before{
	transform: rotate(-45deg);
	top:0;
	background:#c0301c;
}
.burger.active .burger__span:after{
	transform: rotate(45deg);
	top:0;
	background:#c0301c;
}
/*welcome=================*/
.welcome{
	 display: flex;	
	 justify-content: center;
	 align-items: center;
	 height: 100vh;
	 background:#000;
	 padding-top: 55px;
}
.welcome__content{
   text-align:center;
   color: #fff;
   position: relative;
   z-index: 1;
}	
.welcome__title{
	font-family:Montserrat;
    font-size: 48px;
    line-height: 0.5;
    text-transform: uppercase;
     margin-bottom: 25px;
}
.welcome__subtitle{
	font-family:RobotoSlab;
    font-size: 20px;
    line-height: 1.2;
    text-transform: none;
    margin-bottom: 50px;
}
.welcome__btn{
	font-family: Montserrat;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 2px;
    padding: 15px 35px;
    transition: color .3s,background .3s;
}
.welcome__btn:hover{
	color: #c0301c;
	background: #fff;
}
.welcome-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	object-fit: cover;
	object-position: center;
	opacity: 0.55;
}
/*services==========*/
.services{
	padding: 100px 0;
}
.services__content{
	margin-bottom: 70px;
	text-align: center;
}
.title{
	font-family:Montserrat;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;
}
.block__title:after{ 
	content:'';
	width: 50px;
    height: 2px;
    background:#555555;
    display: block;
    margin: 30px auto;
}
.text{
    font-size: 16px;
    line-height: 1.5;
}
/*services==========*/
.inner{
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}
.inner__block{
	width: 33.333%;
	padding: 0 15px;
	text-align: center;
}
.inner__icon{
	width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:background .3s;
    margin: 0 auto 30px;
    cursor: pointer;
}
.icon{
   font-size:40px;
   color:#c0301c;
   transition:color .3s;
}
.inner__icon:hover{
	background:#c0301c;
}
.inner__icon:hover .icon{
	color: #fff;
}
.inner__title{
	margin-bottom: 25px;
}
.title_font,.text_font{
    font-size: 14px;
}
.title_line,.text_line{
	line-height:1.7;
}
/*About==========*/
	
.about{
	padding: 100px 0;
}
.about__content{
	margin-bottom: 70px;
	text-align: center;
}
.about__block{
	margin-bottom: 70px;
}
.inner__text{
	width: 50%;
	padding: 0 15px;
}
.slider{
	display: flex;
	justify-content: space-between;
	margin: 0 -15px;
}
.slider__row{
  width: 25%;
  padding: 0 15px;
}
.slider__inner{
	position: relative;
	background:#555555;
	cursor: pointer;
}
.slider__socials{
    position: absolute;
    bottom: 30px;  
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.slider__icon{
	opacity: 0;
	width:30px;
    height:30px;
    background:none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1px;
    transition: background .3s;
}
.slider__block{
	text-align: center;
	padding-top:15px;
}
.image{
  width: 100%;
  display: block;
  transition: opacity .3s;
}
.slider__inner:hover .slider__icon{ 
  opacity: 1;
}
.slider__inner:hover .image{
 opacity: 0.55;
}
.slider__inner:hover .icons{
 opacity: 1;
}
.slider__icon:hover{
	background:#c0301c;
}
.slider__text{
   font-size: 13px;
   line-height: 1.8;
}
.slider__title{
	padding-bottom:5px;
}
.icons{
	opacity: 0;
	font-size: 18px;
	color: #fff;
	transition: opacity .3s;
}
/*слайдер стрелки*/
.arrow{
	width: 35px;
    height: 38px;
    opacity: 0.2;
    background:#555555;
    /*top:125px;
    margin-top: -19px;*/
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
    border: none; 
    cursor: pointer;
    transition: background .3s,opacity .3s;
}
.left{
	left: 15px;
}
.right{
	right:15px;
}
.angle{
	font-size: 16px;
	color: #dddddd;;
}
.arrow:hover{
	background:#c0301c;
	opacity: 1;
}
/*works==========*/
.works{
	padding: 100px 0;
}
.works__content{
	margin-bottom: 70px;
	text-align: center;
}
.nav__link{
   font-size: 16px;
   line-height: 1.5;
   margin-right: 25px;
   color: #555555;
   transition: color .3s;
}
.nav__link:hover,
.menu__link:hover,
.nav__link.active,
.menu__link.active
{
	color: #c0301c;
}
.works__wrap{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin:-15px;
}
.works__row{
	width:33.333%;
	padding:15px;
}
.img{
	width: 100%;
	display: block;
	transition: opacity .3s;
}
.works__block{
	background:#c0301c;
	position: relative;
	cursor: pointer;
}
.works__inner{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color: #fff;
	transition: opacity .3s;
	opacity: 0;
}
.works__block:hover .img{
	opacity: 0.3;
}
.works__block:hover .works__inner{
	opacity: 1;
}
.works__title{
	font-family: Montserrat;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 5px;
}
.works__subtitle{
    font-size: 12px;
    line-height: 2;
    margin-bottom:25px;
}
.works__btn{
    font-size: 14px;
    line-height: 1.7;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #c0301c;
    padding: 10px 20px;
    background:#fff;
}
.btn-icon{
     margin-left: 10px;	
     font-size: 12px;
}
/*like=============*/
.like{
	padding: 100px 0;
	background:#c0301c;
	position: relative;
}
.like__content{
	text-align: center;
	color: #fff;
	position: relative;
    z-index:1;
}
.like__title{
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 50px;
}
.like__btn{
    font-size: 18px;
    line-height: 2.4;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px 25px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    color: #fff;
    transition: background .3s,color .3s;
}
.like__img{
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.4;

}
.like__btn:hover{
    color: #c0301c;
    background: #fff;
}

.posts{
	padding: 100px 0;
}
.posts__content{
    margin-bottom: 70px;
	text-align: center;
}
.posts__inner{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;

}
/*всем кроме последнего*/
.posts__inner:not(:last-child){
   margin-bottom: 75px;
}
.posts__img{
	width: 42%;
	padding: 0 15px;
}
.posts__image{
	max-width: 100%;
}
.posts__block{
	width: 58%;
	padding: 0 15px;
}
.posts__wrap{
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}
.posts__data{
	font-family: Montserrat;
	width: 76px;
    height: 76px;
    border: 2px solid #555555;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #777777;
    margin-right: 25px;
}
.posts__number{
    font-size: 24px;
    line-height: 0.83;
    margin-bottom:5px;
}
.posts__month{
    font-size: 14px;
    line-height: 1.4;
}
.posts__subject{
    font-size: 13px;
    line-height: 1.8;
}
.posts__title{
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
}
.posts__title_color{
     color: #c0301c;
}
.posts__subtitle{
	font-style: italic;
    color: #777777;
}
.posts__subtitle span{
	font-style: italic;
    color: #c0301c;
}
.posts__text{
	margin-bottom: 30px;
}
.posts__read{
    font-size: 13px;
    line-height: 1.8;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #c0301c;
}
.posts__read_color{
	color: #777777;
}
.brand{
	padding: 100px 0;
}
.brand__inner{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 75px;
	flex-wrap: wrap;
	max-width: 900px;
	margin: 0 auto 75px;
}
.brand__block{
	width: 20%;
	padding: 0 25px;
	text-align: center;
}
.brand__img{
	max-width: 100%;
}
.brand__carousel{
	margin: 0 auto;
	text-align: center;
	max-width: 760px;
	width: 100%;

}
.carousel__title{
    font-size: 18px;
    line-height: 1.6;
    font-style: italic;
    margin-bottom: 40px;
}
.carousel__subtitle{
    font-size: 20px;
    line-height: 1.5;
    font-style: normal;
    margin-bottom: 35px;
}
/*слик слайдер точки*/
.slick-dots{
    display: flex;
    justify-content: center;
    line-height: 0;
}
.slick-dots button{
    width: 13px;
    height: 13px;
    background: #dddddd;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size:0;
    margin:0 3px;
    transition: background .3s;
   
}
.slick-active button{
    background:#c0301c;
}
/*contacts============*/
.contacts{
     padding:100px 0;
}
.contacts__content{
	text-align: center;
	margin-bottom: 70px;
}
.contacts__inner{
	display: flex;
	margin: 0 -15px;
	flex-wrap: wrap;
}
.contacts__block{
	width: 32%;
	padding: 0px 15px 0 40px;
}
.form__contacts{
	display: flex;
	width: 68%;
	flex-wrap: wrap;
}
.contacts__address,.contacts__hotline,.contacts__email{
	margin-bottom: 35px;
}
.contacts__title{
	font-family: Montserrat;
    font-size: 14px;
    line-height: 2.1;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
}
.contacts__subtitle{
    font-size: 12px;
    line-height: 1.6;
    color: #555555;
}
.form__input{
	width: 50%;
	margin-bottom: 20px;
	padding: 0 15px;
}
.form__textarea{
	width: 100%;
	margin-bottom: 25px;
	padding: 0 15px;
}
::placeholder{
	color: #555555;
}
.input{
	font-family:RobotoSlab;
	width: 100%;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px;
    outline: none;
    border: 1px solid #555555;
}
.input:focus{
	border: 1px solid #c0301c;
}
.textarea{
	font-family:RobotoSlab;
    font-size: 12px;
    line-height: 1.6;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px;
    border: 1px solid #555555;
    outline: none;
    resize: none;
    width: 100%;
	height: 105px;
}
.form__block{
	display: flex;
	align-items: center;
	padding: 0 15px;
}
.form__btn{
	font-family: RobotoSlab;
    font-size: 12px;
    line-height: 1.6;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #555555;
    border: 1px solid #555555;
    padding: 15px 35px;
    cursor: pointer;
    transition: background .3s;	
    margin-right: 40px;	
    background:#fff;
    /*white-space: normal;*/
}
.form__text{
     font-size: 12px;
     line-height: 1.6;
}
.form__text span{
      font-size: 12px;
      line-height: 20px;
      color: #c0301c;
}
.form__btn:hover{
	color:#fff;
	background:#c0301c;
}
.contacts-icon{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	left:-20px;
}
/*footer=======*/
.footer{
	padding: 100px 0;
	background:#c0301c;
}
.footer__socials{
	display: flex;
	justify-content: center;
    margin-bottom: 30px;
}
.footer__icons{
	width: 35px;
    height: 35px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px;
    cursor: pointer;
    transition: background .3s;
}
.footer__icon{
	font-size: 16px;
	color: #fff;
	transition: color .3s;
}
.footer__icons:hover{
	background: #fff;
}
.footer__icons:hover .footer__icon{
   color: #c0301c;
}
.footer__copy{
	text-align: center;
    font-size: 12px;
    line-height: 1.6;
    text-transform: uppercase;
    color: #ffffff;
}
.footer__copy:before{
	content: '';
	width: 50px;
    height: 2px;
    background-color: #ffffff;
    display: block;
    margin:0 auto 25px;
}
@media screen and (max-width: 992px){
/*header========*/
.menu__link{
	margin-right: 25px;
}
/*welcome=================*/
.welcome__title{
    font-size: 45px;   
}
.welcome__btn {
    padding: 13px 30px;
}
.welcome__subtitle {
    margin-bottom: 45px;
}
/*services====*/
.services {
    padding: 70px 0;
}
/*about========*/
.about{
	padding: 70px 0;
}
/*works=======*/
.works{
	padding: 70px 0;
}
.works__content {
    margin-bottom: 50px;
}
/*like=============*/
.like {
    padding: 90px 0;
}
/*posts======*/
.posts{
	padding: 70px 0;
}
.posts__img {
    width: 100%;
    padding: 0;
}
.posts__block {
    width: 100%;
    padding: 0;
}
.posts__content {
    margin-bottom: 50px;
}
.posts__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 650px;
    text-align: center;
}
.posts__wrap {
    justify-content: center;
}
.posts__image {
    width: 100%;
    margin-bottom: 20px;
}
.posts__wrap {
    margin-bottom: 15px;
}
.posts__inner:not(:last-child) {
    margin-bottom: 50px;
}
/*brand=========*/
.brand {
    padding: 70px 0;
}
.carousel__title {
    margin-bottom: 30px;
}
.carousel__subtitle {
    margin-bottom: 30px;
}
.brand__inner {
    margin: 0 auto 50px;
}
/*contacts============*/
.contacts__block {
    width: 100%;
    padding:0 15px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.contacts__address,.contacts__hotline,.contacts__email{
	margin-bottom: 35px;
	width: 33%;
}
.contacts-icon {
    display: block;
    position: static;
    transform: translateY(0);
}
.form__btn {
    margin-right: 20px;
    /* white-space: normal; */
}
.form__contacts {
    width: 100%;
}
.contacts{
     padding:70px 0;
}
/*footer====*/
.footer {
    padding: 70px 0;
}
@media screen and (max-width: 768px){
/*header========*/
.header__logo{
	position: relative;
	z-index: 1;
}
.burger{
	display: block;
}
.menu__link{
	display: block;
	font-size: 25px;
	text-align: center;
	margin: 10px auto;
    width: 40%;
    border-bottom: 1px solid;
    padding-bottom: 7px;
}
.menu__link:last-child {
    margin: auto;
}
.menu{
	opacity: 0;
	visibility: hidden;
	overflow: auto;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	top: 0;
	left: 0;
	right: 0;
	transition: opacity .3s,visibility .3s;
	padding-top:55px;
}
.menu.active{
	opacity: 1;
	visibility: visible;
}
/*welcome=================*/
.welcome__title{
    font-size: 40px;   
}
/*services========== */
.services {
    padding: 50px 0;
}
.block__title:after {
    margin: 25px auto;
}
.services__content {
    margin-bottom: 50px;
}
.inner__block {
    width:100%;
    max-width: 550px;
    margin: 0 auto;
}
.inner__block:not(:last-child){
   margin-bottom: 25px;
}
/*about========*/
.about{
	padding: 50px 0;
}
.about__content {
    margin-bottom: 50px;
}
.inner__text{
	width: 100%;
	text-align: center;
    max-width: 650px;
    margin: 0 auto;
}
.inner__text:not(:last-child){
   margin-bottom: 30px;
}
.about__block {
    margin-bottom: 50px;
}
/*works=======*/
.works{
	padding: 50px 0;
}
.works__content{
	margin-bottom: 40px;
}
.works__row {
    width: 50%;
}
.works__row:last-child{
	margin: 0 auto;
}
/*like=========*/
.like {
    padding: 70px 0;
}
.like__title {
    margin-bottom: 35px;
}
/*posts======*/
.posts{
	padding: 50px 0;
}
.posts__content {
    margin-bottom: 50px;
}
/*brand======*/
.brand {
    padding: 50px 0;
}
.carousel__title {
    margin-bottom: 20px;
}
.carousel__subtitle {
    margin-bottom: 20px;
}
.brand__block{
	width: 33%;
	padding: 0 25px;
}
.brand__inner {
    margin-bottom:30px;
}
/*contacts====*/
.contacts{
     padding:50px 0;
}
.contacts__content {
    margin-bottom: 50px;
}
/*footer====*/
.footer {
    padding: 50px 0;
}

@media screen and (max-width: 576px){
/*welcome=================*/
.welcome__title {
    font-size: 22px;
}
.welcome__subtitle {
    font-size: 14px;
    margin-bottom: 35px;  
}
.welcome__btn {
    padding: 10px 25px;
    font-size: 12px;
}
/*services========*/
.services {
    padding: 30px 0;
}
.services__content {
    margin-bottom: 40px;
}
.block__title:after {
    margin: 20px auto;
}
/*about========*/
.about{
	padding: 30px 0;
}
.about__content {
    margin-bottom: 40px;
}
/*works=======*/
.works{
	padding: 30px 0;
}
.works__content{
	margin-bottom: 30px;
}
.works__row {
    width: 100%;
}
.nav__link {
    font-size: 12px;
    margin-right: 5px;
}
/*like======*/
.like {
    padding: 65px 0;
}
.like__title {
    font-size: 23px;
}
.like__btn {
    font-size: 16px;
   
}
/*posts======*/
.posts{
	padding: 30px 0;
}
.posts__content {
    margin-bottom: 40px;
}
.posts__wrap {
    flex-direction: column;
}
.posts__data {
    margin:0 0 15px;
}
.posts__text {
    margin-bottom: 15px;
}
.posts__data {
    width: 65px;
    height: 65px;
}
/*brand======*/
.brand {
    padding: 30px 0;
}
.carousel__title {
    margin-bottom: 10px;
}
.brand__block{
	width: 100%;
	padding: 0 25px;
}
.brand__block:not(:last-child){
   margin-bottom: 25px;
}
.brand__inner{
    margin-bottom: 20px;
}
/*contacts====*/
.contacts{
     padding: 30px 0;
}
.contacts__content {
    margin-bottom: 40px;
}
.contacts__block {
    display: block; 
}
.contacts__address,.contacts__hotline,.contacts__email{
	margin-bottom: 35px;
	width: 100%;
}
.form__input {
    width: 100%;
}
.form__block {
    display: block;
    margin: 0 auto;
    text-align: center;
}
.form__btn {
    margin: 0 0 10px;
    width: 100%;
}
.form__textarea { 
    margin-bottom: 15px;
}
.form__text{
	display: inline-block;
}
/*footer====*/
.footer {
    padding: 30px 0;
}
}